<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="constrng" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=nmc;Integrated Security=True"/>
    <add name="bakery.Properties.Settings.bakeryConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=bakery;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="bakery.Properties.Settings.nmcConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=nmc;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
